body{
    width: 60%;
    border: 1px solid black;
    background-color: rgb(178, 190, 196);
    margin: 0 auto;
}

.header{
    margin: 16px;
}

h3{
    margin: 0 auto;
}

.App-converter{
    margin: 16px;
}

.convert{
    margin: 16px;
}

input{
    margin-right: 10px;
}